<div class="small-container center-block">
    <h1>Editar Categoria</h1>
    <%= render 'form', category: @category %>
    <%= link_to 'Mostrar', @category %> |
    <%= link_to 'Regresar', categories_path %>
</div>